<%%
#template_name: <%=template_name.humanize.titlecase%>
<%-attributes.each do |attribute|-%>
<%="#html: #{attribute.humanize.titlecase}\n"-%>
<%-end-%>
%>

<%% content_for :body do %>
  <div class="layout-<%= template_name.downcase.underscore %>">
    <% attributes.each do |attribute| %>
    <div class="content-<%= attribute.downcase %>">
      <%%= yield :<%=attribute.downcase.underscore%> %>
    </div>
    <% end %>
  </div>
<%% end %>

<%%= render :template => '/layouts/application' %>
