<%= tb_form_errors(f.object) %>

<h4>Page Name</h4>

<div class="form-group">
  <%= f.label :name, :required => true, :style =>"display:none;", :class=>"form-label" %>
  <div class="col-lg-12">
    <%= f.text_field :name, :class => "form-control" %>
  </div>
</div>

<h4>Page Content</h4>

<div id="page_partials_form" class="formtabs tab-content">
	<ul class="formtab_buttons nav nav-tabs">
	</ul>
	<%= f.fields_for :spud_page_partials do |b| %>
		<div class="formtab tab-pane">
			<%= b.hidden_field :name, :class => "tab_name" %>
			<%= b.text_area :content, :class => "page-partial-content-editor tinymce" %>
		</div>
	<% end %>
</div>

<h4>Advanced Settings</h4>

<div class="form-group">
  <%= f.label :layout, "Template", :class=>"col-lg-2 control-label"%>
  <div class="col-lg-10">
    <%= f.select :layout, options_for_select(layout_options,@page.layout),{},{:title => "", 'data-source' => page_parts_admin_pages_path(:page => @page.id), class: 'form-control' }%>
    <span class="help-block">Use this to control the layout template to be used for this page if they are available.</span>
  </div>
</div>

<div class="form-group">
  <%= f.label :spud_page_id, "Parent Page", :class=>"col-lg-2 control-label"%>
  <div class="col-lg-10">
    <%= f.select :spud_page_id,options_for_select(SpudPage.options_tree_for_page(:filter => @page), @page.spud_page_id),{:include_blank => 'None'},{:title => "", :class=>'form-control' }%>
  </div>
</div>

<div class="form-group">
  <%= f.label :url_name, "Perma Link",:disabled => true, :class=>"col-lg-2 control-label"%>
  <div class="col-lg-10">
    <%= root_url %>
    <%= f.text_field :url_name, :title => "", :size=>20, :class=>'form-inline' %>
  </div>
  <div class="col-lg-10">
    <%= f.check_box :use_custom_url_name, :onchange => "$('#spud_page_url_name').attr('disabled',!this.checked);" %>
    <%= f.label :use_custom_url_name, 'Customize this pages url' %>
  </div>
</div>

<h4>Meta Information</h4>
<p>These fields are used to notify search engines about important keywords and the appropriate description to display in a search result.</p>
<div class="form-group">
  <%= f.label :page_title, "Page Title", :class=>"col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_field :page_title, :class=>"form-control" %>
    <span class="help-block">The page title is the most important SEO ranking factor. <a href="https://moz.com/learn/seo/title-tag" target="_blank">Learn more</a> </span>
  </div>
</div>

<div class="form-group">
  <%= f.label :meta_keywords, "Keywords", :class=>"col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_field :meta_keywords, :class=>"form-control" %>
    <span class="help-block">A Comma seperated list of keywords for search engines. Keep it short (no more than 10 keywords)</span>
  </div>
</div>

<div class="form-group">
  <%= f.label :meta_description, "Description", :class=>"col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_area :meta_description, :class=>"form-control", :rows=>3 %>
    <span class="help-block">A short description of the page. This is what appears on a search engines search result page.</span>
  </div>
</div>

<div class="form-group">
  <%= f.label :visibility, :class=>"col-lg-2 control-label" %>
  <div class="col-lg-10">
   <%= f.select(:visibility, [["Public",0],["Private",1]], {}, {class: 'form-control'})%>
  </div>
</div>

<div class="form-group">
  <%= f.label :published, "Published", class: "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.check_box :published %>
  </div>
</div>

<div class="form-group">
  <%= f.label :notes, "Notes", class: "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_area :notes, :class=>"form-control", :rows=>2 %>
    <span class="help-block">Have a note to make about this page while you work? Place it here for later.</span>
  </div>
</div>
<%= hidden_field_tag "preview", 0 %>

<script type="text/javascript">
  $(document).ready(tb.cms.pages.edit);
</script>
