<div id="page_partials_form" class="formtabs tab-content">
	<ul class="formtab_buttons nav nav-tabs">
	</ul>
	<% last_index = 0 %>
	<% spud_page_partials.each_with_index do |spud_page_partial, index| %>
		<div class="formtab tab-pane">
			<input type="hidden" class="tab_name" name="spud_page[spud_page_partials_attributes][<%= index %>][name]" value="<%= spud_page_partial.name %>" />
			<% if spud_page_partial.id %>
				<%= hidden_field_tag "spud_page[spud_page_partials_attributes][#{index}][id]", spud_page_partial.id %>
			<% end %>
			<textarea class="page-partial-content-editor tinymce" name="spud_page[spud_page_partials_attributes][<%= index %>][content]">
				<%= spud_page_partial.content %>
			</textarea>
		</div>
		<% last_index = index + 1 %>
	<% end %>
	<% remove_page_partials.each_with_index do |spud_page_partial, index| %>
		<input type="hidden" name="spud_page[spud_page_partials_attributes][<%= last_index + index %>][id]" value="<%= spud_page_partial.id %>" />
		<input type="hidden" name="spud_page[spud_page_partials_attributes][<%= last_index + index %>][_destroy]", value="1" />
	<% end %>
</div>
