<tr>
  <td>
    <%= table_nesting_indicator(depth) %>
  	<%= page.name %>
  </td>
  <td><%= link_to page_path(page.url_name), page_path(page.url_name) %></td>
  <td class="table-actions">
    <%= link_to 'View', page_path(page.url_name), :class => 'btn btn-default btn-sm' %>
    <%= link_to 'Edit', edit_admin_page_path(page), :class => 'btn btn-default btn-sm' %>
    <%= link_to 'Delete', admin_page_path(page), :method => :delete, :data => {:confirm => 'Are you sure?"'}, :class => 'btn btn-danger btn-sm' %>
  </td>
</tr>
<% page.spud_pages.ordered.each do |page| %>
	<%= render :partial => 'page_row', :locals => {:depth => depth+1, :page => page} %>
<% end %>
