<%= form_for @page,:url => admin_page_path(:id => @page.id),:html=>{:class=>"form-horizontal page_form"} do |f| %>
	<%= render :partial => "form",:locals => {:f => f} %>
    <div class="row">
		  <div class="col-lg-10 col-offset-2">
	    	<%= f.submit "Save Page", :class => "btn btn-primary btn-save" %>
	    	<%= f.submit "Preview", :class => "btn btn-info btn-preview" %> or 
	    	<%= link_to "Cancel", admin_pages_path, :class => "btn btn-default" %>
    	</div>
    </div>
<% end %>
