<% content_for :data_controls do%>
  <%=link_to "New Page",new_admin_page_path(),:class => "btn btn-primary",:title => "New Page"%>&nbsp;
<% end %>

<%= content_for :detail do %>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>URL</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @pages.each do |page| %>
          <%= render :partial => 'page_row', :locals => {:depth => 0, :page => page} %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
