<%= form_for @page,:url => admin_pages_path(), :html => {:class => "form-horizontal page_form"} do |f| %>
  <%= render :partial => "form",:locals => {:f => f} %>
  <div class="row">
    <div class="col-lg-10 col-offset-2">
      <%= f.submit "Create Page", :class => "btn btn-primary form-btn btn-save", "data-loading-text" => "Saving..." %>
      <%= f.submit "Preview", :class => "btn btn-primary btn-preview" %> or <%=link_to "Cancel", admin_pages_path,:class => "btn btn-default" %>
    </div>
  </div>
<% end %>
