<%=content_for :head do%>
  <meta name="description" content="<%=@page.meta_description%>" />
  <meta name="keywords" content="<%=@page.meta_keywords%>" />
<% end %>

<% if !@inline.blank? %>
  <%= render :inline => @inline %>
<% end %>
<% @page.spud_page_partials.each do |page_partial| %>
  <% if page_partial.name.downcase == 'body' && Spud::Cms.yield_body_as_content_block == false %>
    <%= page_partial.content.html_safe %>
  <% else %>
    <%= content_for page_partial.name.parameterize.underscore.to_sym do %>
      <%= page_partial.content.html_safe %>
    <% end %>
  <% end %>
<% end %>
