/*
	Jquery menu sort styles
*/

tbody.ui-sortable {
	box-shadow: inset -1px 0px 10px 0px rgba(4, 252, 255, 0.59);
}

.ui-sortable-helper {
	box-shadow: inset -1px 0px 10px 0px rgba(4, 252, 255, 0.59);
}