<%= tb_form_errors(f.object)%>

<div class="form-group">
  <%= f.label :name, :required => true, :class => "control-label" %>
  <%= f.text_field :name, :title => "", :class=>"form-control" %>
</div>

<div class="form-group">
  <%= f.label :content, :required => true, :class => "control-label" %>
  <%= f.text_area :content,:style => "width:100%;", :class => 'tinymce full-width' %>
</div>

<div class="form-group">
  <%= f.submit "Save Snippet", :class => "btn btn-primary" %>
  <%= link_to "Cancel", admin_snippets_path, :class => "btn btn-default" %>
</div>
