<% content_for :data_controls do %>
  <%= link_to "New Snippet",new_admin_snippet_path, :class => "btn btn-primary", :title => "New Snippet" %>
<% end %>

<% content_for :detail do %>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @snippets.each do |snippet| %>
          <tr>
            <td><%= snippet.name %></td>
            <td class="table-actions">
              <%= link_to 'Edit', edit_admin_snippet_path(snippet), :class => 'btn btn-sm btn-default' %>
              <%= link_to 'delete', admin_snippet_path(snippet), :method => :delete, :class => 'btn btn-sm btn-danger', :data => {:confirm => 'Are you sure you want to delete this snippet?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
