<%= tb_form_errors(f.object)%>

<div class="form-group">
	<%= f.label :name, :required=>true, :class=>"col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :name, :title => "", :class=>"form-control" %>
	</div>
</div>

<div class="form-group">
	<%=f.label :menu_order, :required=>true,:class => "col-sm-2 control-label"%>
	<div class="col-sm-10">
		<%=f.text_field :menu_order, :title => "", :class=>'form-control'%>
	</div>
</div>

<div class="form-group">
	<%=f.label :spud_page_id, "Page", :class=>"col-sm-2 control-label"%>
	<div class="col-sm-10">
		<%=	f.select :spud_page_id,	options_for_select(SpudPage.options_tree_for_page(), @menu_item.spud_page_id), {:include_blank => 'Use URL instead'}, {:class=>'form-control',:title => "", :onchange => "if($(this).val() != '') {$('#spud_menu_item_url').val('');}"}%>
	</div>  
</div>

<div class="form-group">
	<%=f.label :url, :class => "col-sm-2 control-label"%>
	<div class="col-sm-10">
		<%=f.text_field :url, :title => "", :class=>'form-control' %>
	</div>
</div>

<div class="form-group">
	<%=f.label :classes, :class => "col-sm-2 control-label"%>
	<div class="col-sm-10">
		<%=f.text_field :classes, :title => "", :class=>'form-control'%>
	</div>
</div>

<div class="form-group">
	<%= f.label :parent, "Parent Menu", :class=>"col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%=f.select :parent_id,options_for_select(SpudMenuItem.options_tree_for_item(@menu,:filter => @menu_item),@menu_item.parent_type == 'SpudMenuItem' ? @menu_item.parent_id : nil),{:include_blank => "#{@menu.name}"},{:class => 'form-control', :title => ""}%>
	</div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Save Menu Item", :class => "btn btn-primary" %>
    <%= link_to "Cancel", admin_menu_menu_items_path, :class => "btn btn-default" %>
  </div>
</div>
