<tr>
	<td>
		<%= table_nesting_indicator(depth) %>
		<%= menu_item.name %>
	</td>
	<td><%= link_to menu_item.get_url, menu_item.get_url %></td>
	<td class="table-actions">
		<%=link_to 'Edit', edit_admin_menu_menu_item_path(:id => menu_item.id), :title => "Edit Menu Item", :class => 'btn btn-default btn-sm' %>
		<%=link_to 'Delete', admin_menu_menu_item_path(:id => menu_item.id), :method => :delete, :class => 'btn btn-danger btn-sm', :data => {:confirm => "Are you sure you want to remove this menu item?"} %>
	</td>
	<input type="hidden" value=<%= menu_item.id %>>
</tr>
<% menu_item.spud_menu_items.each do |item| %>
  <%= render :partial => 'menu_item_row', :locals => {:menu_item => item, :depth => depth+1} %>
<% end %>
