<% content_for :data_controls do %>
  <%= link_to "New Menu Item", new_admin_menu_menu_item_path(), :class => "btn btn-primary", :title => "New Menu Item" %>
<% end %>

<% content_for :detail do %>
  <div id="sort" class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>URL</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @menu_items.each do |item| %>
          <%= render :partial => 'menu_item_row', :locals => {:menu_item => item, :depth => 0} %>
        <% end %>
      </tbody>
    </table>
    <input type="hidden" value=<%= @menu.id %> id="menu-id">
  </div>
<script type="text/javascript">
  $(document).ready(tb.cms.menu_items.init);
</script>

<% end %>

