<%=tb_form_errors(f.object)%>

<div class="form-group">
  <%= f.label :name, nil, :class=>"col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :name, :class => "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Save Menu", :class => "btn btn-primary" %>
    <%= link_to "Cancel", admin_menus_path, :class => "btn btn-default" %>
  </div>
</div>
