<% content_for :data_controls do%>
	<%= link_to "New Menu", new_admin_menu_path(), :class => "btn btn-primary", :title => "New Menu" %>
<% end %>

<% content_for :detail do %>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th># Items</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @menus.each do |menu| %>
          <tr>
            <td><%= menu.name %></td>
            <td><%= menu.spud_menu_items.count %></td>
            <td class="table-actions">
              <%= link_to 'Items', admin_menu_menu_items_path(:menu_id => menu.id), :class => 'btn btn-default btn-sm' %>
              <%= link_to 'Edit', edit_admin_menu_path(:id => menu.id), :class => 'btn btn-default btn-sm' %>
              <%= link_to 'Delete', admin_menu_path(:id => menu.id), :method => :delete, :data => {:confirm => 'Are you sure?"'}, :class => 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @menus, :renderer => BootstrapPagination::Rails %>
<% end %>
